HELP.md
.env
.env.local
.env.*.local
.env.production
.env.example
.dockerignore
.mvn/
mvnw
mvnw.cmd

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Configurações locais e Senhas ###
*.properties