    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        font-family: "Fredoka", sans-serif;
        box-sizing: border-box;
    }
    
     :root {
        --cor-fundo: #EEEDFE;
        /* Tom mais claro para o fundo da página */
        --cor-suave: #CECBF6;
        /* Tom médio para detalhes e bordas */
        --cor-principal: #7F77DD;
        /* Roxo médio para elementos de destaque */
        --cor-viva: #9279e9;
        /* Roxo vibrante para hovers e botões */
        --cor-escura: #26215C;
        /* Roxo bem escuro para textos e rodapé */
        --branco: #FFFFFF;
    }
    
    body {
        background-color: var(--cor-fundo);
        /* Grade grossa usando a cor escura --cor-tres */
        background-attachment: fixed;
        overflow-x: hidden;
        width: 100%;
    }
    
    main {
        background: none;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 110px;
    }
    
    .cabecalho {
        color: var(--cor-escura);
        margin: 3rem;
        display: flex;
        margin: 3rem;
        font-size: 2rem;
        justify-content: center;
    }
    
    .container-informacoes {
        display: flex;
        justify-content: center;
        gap: 2rem;
        /* Reduzi um pouco o espaço para o celular */
        flex-direction: column;
        width: 90%;
        /* Ocupa 90% da largura em qualquer tela */
        max-width: 50rem;
        /* Não passa de 50rem no computador */
        min-height: 10rem;
        margin: 0 auto;
        /* Garante centralização */
    }
    
    .card {
        background-color: var(--cor-fundo);
        border: #9279e9 solid 2px;
        border-radius: 2rem;
        height: auto;
        padding: 2rem;
        color: var(--cor-escura);
        box-shadow: #9279e9 0.8rem 0.8rem 2rem;
        pointer-events: auto;
        /* Garante que o navegador aceite o clique */
        /* Mantenha o restante do seu código de estilo aqui */
    }
    /* Isso garante que o link ocupe o tamanho todo do card */
    
    .link-card {
        text-decoration: none;
        color: inherit;
        display: block;
        /* Essencial para o link 'puxar' o tamanho da div */
        width: 100%;
    }
    
    .card span {
        font-size: 1.2rem;
    }
    
    .card p {
        font-size: 1.4rem;
        font-weight: bold;
    }
    
    .card:hover {
        color: var(--cor-viva);
        transform: scale(0.98);
        cursor: pointer;
    }