@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
}

:root {
    --cinza: #eae7ea;
    --violeta-azulado: #7F77DD;
    --violeta-claro: #CECBF6;
    --off-white: #EEEDFE;
    --roxo-dark: #26215C;
    --violeta-medio: #9279e9;
    --off-offwhite: #fdfdfd;
}
body {
    background-color: var(--off-white);
    /*background-image:
        linear-gradient(rgba(38, 33, 92, 0.05) 4px, transparent 4px),
        linear-gradient(90deg, rgba(38, 33, 92, 0.05) 4px, transparent 4px);*/
}
.conceito h1{
    font-weight: 900;
}