* {
    margin: 0;
    /* Remove margens padrão do navegador */
    padding: 0;
    /* Remove espaçamentos internos padrão */
    box-sizing: border-box;
    /* Faz padding e border NÃO aumentarem o tamanho final do elemento */
    scroll-behavior: smooth;
    /* Deixa rolagem suave ao usar âncoras */
}

:root {
    --ciano-apagado: #325c5e;
    --ciano: #3d989b;
    --off-white: #eef5e7;
    --amarelo: #ffee57;
    --azul: #1c2b73;
}

.body {
    background-color: var(--off-white);
}

.cabecalho {
    background-color: var(--ciano);
    width: 100%;
    display: flex;
    /* Ativa flexbox para alinhar logo e navbar */
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: left;
    /* Alinha os elementos à esquerda (equivalente a flex-start) */
    gap: 30px;
    /* Espaço entre logo e navegação */
}

.logo {
    width: 50px;
    /* Define tamanho fixo da logo */
    height: 100%;
    /* Tenta ocupar altura total do elemento pai */
}

.navegacao-itens {
    display: flex;
    /* Deixa os itens da lista lado a lado */
    gap: 25px;
    /* Espaçamento horizontal entre eles */
    list-style: none;
    /* Remove bolinhas da ul */
}

.navegacao-itens li {
    display: flex;
    /* Permite alinhar ícone e texto na mesma linha */
    gap: 5px;
    /* Espaço entre ícone e texto */
}

.navegacao a {
    text-decoration: none;
    color: var(--off-white);
}

.icone {
    color: var(--off-white);
}

.email {
    display: flex;
    justify-content: center;
    /* Centraliza o card horizontalmente */
    margin-top: 40px;
    /* Afasta do cabeçalho */
}

.email-card {
    background-color: rgb(255, 255, 255);
    width: 700px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.email-header {
    border-bottom: 1px solid #ddd;
    /*Border-bottom: cria uma 'borda' embaixo do header, ou seja, uma linha; 1px = espessura*/
    padding-bottom: 15px;
    /*Espaço entre o conteúdo e a borda*/
    margin-bottom: 20px;
    /*Espaço entre cada elemento*/
}

.assunto-email {
    margin-bottom: 10px;
}

.email-info {
    font-size: 14px;
    color: #777;
    display: flex;
    justify-content: space-between;     /* Joga remetente para esquerda e data para direita */
}

.email-texto {
    line-height: 1.6; /* Aumenta espaço entre linhas */
    font-size: 16px;
}

.email-acoes {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

#manter {
    background-color: #3d989b;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

#excluir {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.popup {
    display: none; /* começa escondido */
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-conteudo {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.popup-botao{
    margin-top: 20px;
}
